@import 'firstResumeColors';

.experience{
    padding: 1em;

    h2{
        margin: 1em 0;
    }
    .exp-location{
        display: flex;
        
        p {
            margin: 1em 1em 0 0;
        }

        img{
            width: 1em;
            margin-right: .5em;
        }
    }

    table {
        border: 1px solid blue;
        width: 80vw;
        margin-top: 1em;

        th {
            text-transform: uppercase;
            color: $fr-right-p-color;
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
            border: 1px solid red;
        }
        hr{
            border-color: $fr-right-p-color;
            width: 60vw;
            margin: 0 auto;
            height: .3rem;
            background-color: $fr-right-p-color;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
}
        img{
            width: 3em;
        }

        tr{
            td:first-child{
                text-align: center;
            }
            td{
                padding: 1em;

                .fr-organization{
                    font-weight: bold;
                    line-height: 2em;
                }
                .fr-position{
                    font-style: italic;
                    line-height: 2em;
                }
                ul{
                    
                    li::before{
                        content: "- ";
                    }
                }
            }
        }
    }
}