@import 'firstResumeColors';

.first-resume{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: $fr-right-p-bc;

    .fr-skills-contacts{
        flex-grow: 0;
        background-color: $fr-bc-color;
        height: auto !important;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            width: 0;
        }

        .fr-author-photo{
            display: block;
            width: 10em;
            margin: 0 auto;
            margin-top: 1em;
            margin-bottom: 1em;
            border-radius: 5px;
            box-shadow: -1px 0 22px 3.5px $fr-box-shadow;
        }

        p{
            color: $fr-left-p-color;
            background-color: $fr-left-p-bc;
            vertical-align: middle;
            padding: .1em 1em ;
            text-transform: uppercase;
            font-weight: bold;
            font-size: .8em;
        }

        ul{
            margin: 1em;

            li{
                color: $fr-left-p-color;
            }
        }

        .fr-contacts {
            li {
                display: flex;
                margin: .2em 0; 

                .fr-icon-for-li{
                    width: 1em;
                    margin: 0 .4em;
                }
            }
        }

        .fr-languages {
            display: flex;

            li{
                margin: 0 .2em;
            }
        }

        .fr-skills{
            li{
                margin: .2em 0;
                
                &::before{
                    content: " * ";
                }

                .fr-small-text{
                    font-size: .7em;
                    text-align: right;
                }
            }
        }

        .fr-quality, .fr-hobby{
            li{
                margin: .2em 0;
                
                &::before{
                    content: " * ";
                }
            }
        }
    }
}

/* For Chrome or Safari */
progress::-webkit-progress-bar {
    background-color: $fr-left-p-color;
}

progress::-webkit-progress-value {
    background-color: $fr-left-p-bc !important;
}


/* For Firefox */
progress {
    background-color: $fr-left-p-color;
}

progress::-moz-progress-bar {
    background-color: $fr-left-p-bc !important;
}

/* For IE10 */
progress {
    background-color: $fr-left-p-color;
}

progress {
    background-color: $fr-left-p-bc;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

progress {
    display: block;
    width: 100%;
    height: .5em;
}