.tab {
    float: left;
    border-right: 1px solid #02ae79;
    background-color: #2502B1;
    width: $col-1 / 2;
    height: 100vh;

    button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        user-select: none;


        &:hover {
            background-color: #02AE79;
            transition: .3s ease-in;
            -webkit-transition: .3s ease-in;
            -moz-transition: .3s ease-in;
            -ms-transition: .3s ease-in;
            -o-transition: .3s ease-in;
}

        &.active {
            background-color: #02AE79;
            transition: .3s ease-in;
            -webkit-transition: .3s ease-in;
            -moz-transition: .3s ease-in;
            -ms-transition: .3s ease-in;
            -o-transition: .3s ease-in;
}

        img{
            width: 2em;
            text-align: center;
        }
        transition: .3s ease-in;
        -webkit-transition: .3s ease-in;
        -moz-transition: .3s ease-in;
        -ms-transition: .3s ease-in;
        -o-transition: .3s ease-in;
}
}
.tabContent {
    float: left;
    margin: 0;
    width: $col-11 + ($col-1 / 2);
    border-left: none;
    height: 100vh;
    overflow-y: scroll;
    
    &::-webkit-scrollbar{
        width: 0;
    }
}