.tab {
    float: left;
    border-right: 1px solid #000b2d;
    background-color: #f1f1f1;
    width: $col-1;
    height: 100vh;

    button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: #ddd;
        }

        &.active {
            background-color: #ccc;
        }
    }
}
.tabContent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: $col-11;
    border-left: none;
    height: 100vh;
    overflow-y: scroll;
}