@import 'columnWidth';
@import 'menuStyle';
@import 'firstResume';
@import 'experience';

*, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;

    &::-webkit-scrollbar{
        width: 0;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $fr-box-shadow;
}