.tab {
  float: left;
  border-right: 1px solid #02ae79;
  background-color: #2502B1;
  width: 4.16665%;
  height: 100vh;
}
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.tab button:hover {
  background-color: #02AE79;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.tab button.active {
  background-color: #02AE79;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.tab button img {
  width: 2em;
  text-align: center;
}

.tabContent {
  float: left;
  margin: 0;
  width: 95.83335%;
  border-left: none;
  height: 100vh;
  overflow-y: scroll;
}
.tabContent::-webkit-scrollbar {
  width: 0;
}

.first-resume {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #cedbfd;
}
.first-resume .fr-skills-contacts {
  flex-grow: 0;
  background-color: #1f5cf7;
  height: auto !important;
  overflow-y: scroll;
}
.first-resume .fr-skills-contacts::-webkit-scrollbar {
  width: 0;
}
.first-resume .fr-skills-contacts .fr-author-photo {
  display: block;
  width: 5em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: -1px 0 22px 3.5px #0d2666;
}
.first-resume .fr-skills-contacts p {
  color: #cedbfd;
  background-color: #0d2666;
  vertical-align: middle;
  padding: 0.1em 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}
.first-resume .fr-skills-contacts ul {
  margin: 1em;
}
.first-resume .fr-skills-contacts ul li {
  color: #cedbfd;
}
.first-resume .fr-skills-contacts .fr-contacts li {
  display: flex;
  margin: 0.2em 0;
}
.first-resume .fr-skills-contacts .fr-contacts li .fr-icon-for-li {
  width: 1em;
  margin: 0 0.4em;
}
.first-resume .fr-skills-contacts .fr-languages {
  display: flex;
}
.first-resume .fr-skills-contacts .fr-languages li {
  margin: 0 0.2em;
}
.first-resume .fr-skills-contacts .fr-skills li {
  margin: 0.2em 0;
}
.first-resume .fr-skills-contacts .fr-skills li::before {
  content: " * ";
}
.first-resume .fr-skills-contacts .fr-skills li .fr-small-text {
  font-size: 0.7em;
  text-align: right;
}
.first-resume .fr-skills-contacts .fr-quality li, .first-resume .fr-skills-contacts .fr-hobby li {
  margin: 0.2em 0;
}
.first-resume .fr-skills-contacts .fr-quality li::before, .first-resume .fr-skills-contacts .fr-hobby li::before {
  content: " * ";
}

/* For Chrome or Safari */
progress::-webkit-progress-bar {
  background-color: #cedbfd;
}

progress::-webkit-progress-value {
  background-color: #0d2666 !important;
}

/* For Firefox */
progress {
  background-color: #cedbfd;
}

progress::-moz-progress-bar {
  background-color: #0d2666 !important;
}

/* For IE10 */
progress {
  background-color: #cedbfd;
}

progress {
  background-color: #0d2666;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

progress {
  display: block;
  width: 100%;
  height: 0.5em;
}

.experience {
  padding: 1em;
}
.experience h2 {
  margin: 1em 0;
}
.experience .exp-location {
  display: flex;
}
.experience .exp-location p {
  margin: 1em 1em 0 0;
}
.experience .exp-location img {
  width: 1em;
  margin-right: 0.5em;
}
.experience table {
  width: 80vw;
  margin-top: 1em;
}
.experience table th {
  text-transform: uppercase;
  color: #0d2666;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.experience table hr {
  border-color: #0d2666;
  width: 60vw;
  margin: 0 auto;
  height: 0.3rem;
  background-color: #0d2666;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.experience table img {
  width: 3em;
}
.experience table tr td:first-child {
  text-align: center;
}
.experience table tr td {
  padding: 1em 5em;
}
.experience table tr td .fr-organization {
  font-weight: bold;
  line-height: 2em;
}
.experience table tr td .fr-position {
  font-style: italic;
  line-height: 2em;
}
.experience table tr td .fr-student-prof::before {
  content: "- ";
}
.experience table tr td ul li::before {
  content: "- ";
}

*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0d2666;
}
*::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 0;
}
* a, html a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=main.css.map */