*, html{
    box-sizing: border-box;
    margin: 0;
}

#container {
    padding: 50px;
    background-color: #EEE;
}

#container p {
    font-size: 50px;
    font-family: sans-serif;
    color: #0080A8;
}
#container p:last-child{
    color: #014b62;
}